In [ ]:
#importanto as bibliotecas necessárias para a análise
import pandas as pd 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#configurando para utilizar o código no colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#definindo o diretório de trabalho
import os
os.chdir('/content/drive/MyDrive/FGV')
!pwd

/content/drive/MyDrive/FGV

Antes de começar as análises dos dados, percebi que a base de dados indíce não estava estruturada corretamente. Arrumei a base e salvei os dados em uma outra base que será carregada a seguir:

In [ ]:
#importando a base de dados editada
indices = pd.read_excel('/content/drive/MyDrive/FGV/indices_editado.xlsx')

In [ ]:
indices.head(2)

      data     ipca      igp  ipc      ipa     incc
0  01/1995  1033.74  108.442  NaN  107.599  106.581
1  02/1995  1044.28  109.945  NaN  108.542  110.354

In [ ]:
#criando as colunas para analisar as variações de cada índice 
indices['ipca_var'] = round((indices['ipca'].pct_change())*100,2)
indices['igp_var'] = round((indices['igp'].pct_change())*100,2)
indices['ipc_var'] = round((indices['ipc'].pct_change())*100,2)
indices['ipa_var'] = round((indices['ipa'].pct_change())*100,2)
indices['incc_var'] = round((indices['incc'].pct_change())*100,2)

In [ ]:
indices.tail()

,data,ipca,igp,ipc,ipa,incc,ipca_var,igp_var,ipc_var,ipa_var,incc_var
325,2022-02-01,6215.24,1141.546,669.332,1405.969,971.651,1.01,1.83,0.33,2.36,0.48
326,2022-03-01,6315.93,1161.418,675.117,1435.019,978.717,1.62,1.74,0.86,2.07,0.73
327,2022-04-01,6382.88,1177.809,685.432,1455.762,987.218,1.06,1.41,1.53,1.45,0.87
328,2022-05-01,6412.88,1183.953,687.841,1462.347,1001.923,0.47,0.52,0.35,0.45,1.49
329,2022-06-01,6455.85,1190.882,692.699,1466.769,1030.105,0.67,0.59,0.71,0.30,2.81

In [ ]:
#verificando se existem dados duplicados na base 
duplicados = indices.duplicated()
duplicados.sum()

0

In [ ]:
indices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      330 non-null    object
 1   ipca      330 non-null    float64
 2   igp       330 non-null    float64
 3   ipc       314 non-null    float64
 4   ipa       330 non-null    float64
 5   incc      330 non-null    float64
 6   ipca_var  329 non-null    float64
 7   igp_var   329 non-null    float64
 8   ipc_var   313 non-null    float64
 9   ipa_var   329 non-null    float64
 10  incc_var  329 non-null    float64
dtypes: float64(10), object(1)
memory usage: 28.5+ KB

In [ ]:
#Mudando a data para o formato de data
indices['data'] = pd.to_datetime(indices['data'], format= '%m/%Y')

In [ ]:
#Como existem dados faltantes de ipc, iremos considerar um período temporal de 05/1996 até 06/2022.
indices_final = indices[indices['data'] > '1996-05-01']

In [ ]:
indices_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 17 to 329
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data      313 non-null    datetime64[ns]
 1   ipca      313 non-null    float64
 2   igp       313 non-null    float64
 3   ipc       313 non-null    float64
 4   ipa       313 non-null    float64
 5   incc      313 non-null    float64
 6   ipca_var  313 non-null    float64
 7   igp_var   313 non-null    float64
 8   ipc_var   313 non-null    float64
 9   ipa_var   313 non-null    float64
 10  incc_var  313 non-null    float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 29.3 KB

In [ ]:
indices_final.head()

,data,ipca,igp,ipc,ipa,incc,ipca_var,igp_var,ipc_var,ipa_var,incc_var
17,1996-06-01,1325.84,131.445,150.517,119.318,146.988,1.19,1.02,1.67,0.41,2.01
18,1996-07-01,1340.56,133.213,151.868,121.217,149.224,1.11,1.35,0.90,1.59,1.52
19,1996-08-01,1346.46,133.587,152.204,121.488,150.334,0.44,0.28,0.22,0.22,0.74
20,1996-09-01,1348.48,133.722,151.729,121.911,150.564,0.15,0.10,-0.31,0.35,0.15
21,1996-10-01,1352.53,133.978,151.567,122.361,150.915,0.30,0.19,-0.11,0.37,0.23

In [ ]:
#salvando os dados no excel para realizar a modelagem no R
indices_final.to_excel('indices_final.xlsx', index = False)